<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <center>
    <header>About page</header>
</center>
    <p>
        The rise of the Internet in the 1990s made it possible for businesses to reach new audiences over the web. Many businesses saw the potential to expand their customer base by offering goods and services online. Some companies added Internet elements to their traditional business models, while other businesses started as strictly online stores.

The application of secure money transfers and the development of e-mail helped to spur online business growth. The term “electronic commerce” was coined to describe business carried out online and to differentiate it from traditional forms of commercial transactions. The term was shortened to e-commerce as the practice became more established.
    </p>
</body>
</html>