<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <center>
    <h1>
    <header>E-Commerce Website</header>
    </h1>
    </center> 
    <em>
        Your eCommerce Homepage = Your Online Storefront

For many users, your eCommerce homepage is their first impression of your site, your products, and your brand. It needs to be stellar, engaging, and easy to navigate to keep them coming back for more online shopping
    </em>
</body>
</html>