<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    
    <header>E-Commerce Website</header>
    <nav>
      <ul>
        <li><a href="localhost:4000/home">Home</a></li>
        <li><a href="localhost:4000/about">About us</a></li>
        <li><a href="localhost:4000/contact">contact</a></li>
        <li><a href="localhost:4000/services">services</a></li>

      </ul>
    </nav>
    <main>
        <h1>This is the home page</h1>
    </main>
</body>
</html>